flows.json
[
    {
        "id": "3ffcee996a1cb009",
        "type": "tab",
        "label": "Events Monitor",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "e3a8cba029baeedb",
        "type": "tab",
        "label": "Gamingregal",
        "disabled": false,
        "info": "Endpoint:\t6590585ced87038064218f61\t(Gaming regal)\nCommand:\t6590585ced87038064218f62\t(On)\n\t\t    6590585ced87038064218f63\t(off)\n\t\t    6590585ced87038064218f64\t(Color)",
        "env": []
    },
    {
        "id": "29c9b4fe04de7dfd",
        "type": "tab",
        "label": "States",
        "disabled": false,
        "info": "Endpoint\t65b2874b98c30b71f603a078\t(Particle sensor)\n\t\t65b2874b98c30b71f603a079\tstate = particles\t",
        "env": []
    },
    {
        "id": "fb6d03c2f2669e68",
        "type": "tab",
        "label": "Webhook",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "4dd81f0e47c2dcba",
        "type": "tab",
        "label": "Scenes",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a62b0db2beaaed0b",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "48a8736cac4b3df9",
        "type": "inject",
        "z": "3ffcee996a1cb009",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 100,
        "wires": [
            [
                "2a2278979cf7417e"
            ]
        ]
    },
    {
        "id": "2a2278979cf7417e",
        "type": "template",
        "z": "3ffcee996a1cb009",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "This is the payload: {{payload}} !",
        "output": "str",
        "x": 500,
        "y": 100,
        "wires": [
            [
                "cbf4c455a5511f5d"
            ]
        ]
    },
    {
        "id": "cbf4c455a5511f5d",
        "type": "debug",
        "z": "3ffcee996a1cb009",
        "name": "debug 1",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 880,
        "y": 100,
        "wires": []
    },
    {
        "id": "775e043bca276291",
        "type": "events",
        "z": "3ffcee996a1cb009",
        "name": "Events",
        "components": "scenes,endpoints",
        "events": "update,state,changed",
        "x": 150,
        "y": 220,
        "wires": [
            [
                "6446536c699e24ab",
                "923dff55df8b16b1",
                "c76c618eb7f5a824"
            ]
        ]
    },
    {
        "id": "7c4e7d3eae1c66de",
        "type": "debug",
        "z": "3ffcee996a1cb009",
        "name": "debug 2",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 880,
        "y": 220,
        "wires": []
    },
    {
        "id": "6446536c699e24ab",
        "type": "delay",
        "z": "3ffcee996a1cb009",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": true,
        "allowrate": false,
        "outputs": 1,
        "x": 540,
        "y": 220,
        "wires": [
            [
                "7c4e7d3eae1c66de"
            ]
        ]
    },
    {
        "id": "923dff55df8b16b1",
        "type": "switch",
        "z": "3ffcee996a1cb009",
        "name": "components",
        "property": "payload.component",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "mqtt",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "scenes",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "mdns",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "webhooks",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 510,
        "y": 520,
        "wires": [
            [
                "c9361da1a02aa390"
            ],
            [
                "0e56ed5b6ab3c54f"
            ],
            [
                "eda9244d660e2442"
            ],
            [
                "7274265d74dd63ce"
            ]
        ]
    },
    {
        "id": "c9361da1a02aa390",
        "type": "debug",
        "z": "3ffcee996a1cb009",
        "name": "component: mqtt",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 910,
        "y": 500,
        "wires": []
    },
    {
        "id": "0e56ed5b6ab3c54f",
        "type": "debug",
        "z": "3ffcee996a1cb009",
        "name": "component: scenes",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 910,
        "y": 540,
        "wires": []
    },
    {
        "id": "eda9244d660e2442",
        "type": "debug",
        "z": "3ffcee996a1cb009",
        "name": "component: mdns",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 910,
        "y": 580,
        "wires": []
    },
    {
        "id": "c76c618eb7f5a824",
        "type": "debug",
        "z": "3ffcee996a1cb009",
        "name": "RAW JSON",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 890,
        "y": 360,
        "wires": []
    },
    {
        "id": "7274265d74dd63ce",
        "type": "debug",
        "z": "3ffcee996a1cb009",
        "name": "component: webhooks",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 920,
        "y": 620,
        "wires": []
    },
    {
        "id": "76b3e7f2c2bf9d4e",
        "type": "command",
        "z": "e3a8cba029baeedb",
        "name": "cmd = ein",
        "endpoint": "6590585ced87038064218f61",
        "command": "6590585ced87038064218f62",
        "ignoreParams": false,
        "x": 840,
        "y": 100,
        "wires": [
            [
                "cea49a6d37f8a155"
            ]
        ]
    },
    {
        "id": "77615ea7ce14eba5",
        "type": "inject",
        "z": "e3a8cba029baeedb",
        "name": "On",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 110,
        "y": 100,
        "wires": [
            [
                "76b3e7f2c2bf9d4e"
            ]
        ]
    },
    {
        "id": "cea49a6d37f8a155",
        "type": "debug",
        "z": "e3a8cba029baeedb",
        "name": "cmd result",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1070,
        "y": 160,
        "wires": []
    },
    {
        "id": "ed9f43ddea83418d",
        "type": "command",
        "z": "e3a8cba029baeedb",
        "name": "cmd = aus",
        "endpoint": "6590585ced87038064218f61",
        "command": "6590585ced87038064218f63",
        "ignoreParams": false,
        "x": 850,
        "y": 160,
        "wires": [
            [
                "cea49a6d37f8a155"
            ]
        ]
    },
    {
        "id": "d76319c1dce86581",
        "type": "inject",
        "z": "e3a8cba029baeedb",
        "name": "Off",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 110,
        "y": 160,
        "wires": [
            [
                "ed9f43ddea83418d"
            ]
        ]
    },
    {
        "id": "ead171193f26f338",
        "type": "inject",
        "z": "e3a8cba029baeedb",
        "name": "Color = Green",
        "props": [],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 130,
        "y": 280,
        "wires": [
            [
                "d15da665dd377b0f"
            ]
        ]
    },
    {
        "id": "d15da665dd377b0f",
        "type": "template",
        "z": "e3a8cba029baeedb",
        "name": "Params = Color Green",
        "field": "payload",
        "fieldType": "msg",
        "format": "json",
        "syntax": "mustache",
        "template": "[{\n    \"key\": \"r\",\n    \"value\": 0\n}, {\n    \"key\": \"g\",\n    \"value\": 100\n}, {\n    \"key\": \"b\",\n    \"value\": 0\n}]",
        "output": "json",
        "x": 500,
        "y": 280,
        "wires": [
            [
                "f36beb7fb83e0bc1"
            ]
        ]
    },
    {
        "id": "f36beb7fb83e0bc1",
        "type": "command",
        "z": "e3a8cba029baeedb",
        "name": "cmd = color",
        "endpoint": "6590585ced87038064218f61",
        "command": "6590585ced87038064218f64",
        "ignoreParams": false,
        "x": 850,
        "y": 280,
        "wires": [
            [
                "cea49a6d37f8a155"
            ]
        ]
    },
    {
        "id": "9284fbe52a0fc908",
        "type": "inject",
        "z": "e3a8cba029baeedb",
        "name": "Color = Blue",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 320,
        "wires": [
            [
                "e58baaa8855b2fbd"
            ]
        ]
    },
    {
        "id": "e58baaa8855b2fbd",
        "type": "template",
        "z": "e3a8cba029baeedb",
        "name": "Params = Color Blue",
        "field": "payload",
        "fieldType": "msg",
        "format": "json",
        "syntax": "mustache",
        "template": "[{\n    \"key\": \"r\",\n    \"value\": 0\n}, {\n    \"key\": \"g\",\n    \"value\": 0\n}, {\n    \"key\": \"b\",\n    \"value\": 100\n}]",
        "output": "json",
        "x": 500,
        "y": 320,
        "wires": [
            [
                "f36beb7fb83e0bc1",
                "aa01ef6077bf0696"
            ]
        ]
    },
    {
        "id": "2574da780c15afc8",
        "type": "inject",
        "z": "e3a8cba029baeedb",
        "name": "Color = Red",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 360,
        "wires": [
            [
                "3d812adaee8d1239"
            ]
        ]
    },
    {
        "id": "3d812adaee8d1239",
        "type": "template",
        "z": "e3a8cba029baeedb",
        "name": "Params = Color Red",
        "field": "payload",
        "fieldType": "msg",
        "format": "json",
        "syntax": "mustache",
        "template": "[{\n    \"key\": \"r\",\n    \"value\": 100\n}, {\n    \"key\": \"g\",\n    \"value\": 0\n}, {\n    \"key\": \"b\",\n    \"value\": 0\n}]",
        "output": "json",
        "x": 500,
        "y": 360,
        "wires": [
            [
                "f36beb7fb83e0bc1"
            ]
        ]
    },
    {
        "id": "1d1ba991911639ce",
        "type": "inject",
        "z": "e3a8cba029baeedb",
        "name": "Color = Orange",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 400,
        "wires": [
            [
                "5b934edf044446e4"
            ]
        ]
    },
    {
        "id": "5b934edf044446e4",
        "type": "template",
        "z": "e3a8cba029baeedb",
        "name": "Params = Color Orange",
        "field": "payload",
        "fieldType": "msg",
        "format": "json",
        "syntax": "mustache",
        "template": "[{\n    \"key\": \"r\",\n    \"value\": 100\n}, {\n    \"key\": \"g\",\n    \"value\": 100\n}, {\n    \"key\": \"b\",\n    \"value\": 0\n}]",
        "output": "json",
        "x": 510,
        "y": 400,
        "wires": [
            [
                "f36beb7fb83e0bc1"
            ]
        ]
    },
    {
        "id": "aa01ef6077bf0696",
        "type": "debug",
        "z": "e3a8cba029baeedb",
        "name": "debug 7",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1060,
        "y": 420,
        "wires": []
    },
    {
        "id": "e8d73d4f942ddf47",
        "type": "states",
        "z": "29c9b4fe04de7dfd",
        "name": "Particle Sensor",
        "endpoint": "65b2874b98c30b71f603a078",
        "state": "65b2874b98c30b71f603a079",
        "x": 720,
        "y": 40,
        "wires": [
            [
                "8525565bb9aec1b5"
            ]
        ]
    },
    {
        "id": "8525565bb9aec1b5",
        "type": "debug",
        "z": "29c9b4fe04de7dfd",
        "name": "debug 4",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1220,
        "y": 40,
        "wires": []
    },
    {
        "id": "bbcc5708ceea3ff0",
        "type": "inject",
        "z": "29c9b4fe04de7dfd",
        "name": "Set state value = 10",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "10",
        "payloadType": "num",
        "x": 170,
        "y": 40,
        "wires": [
            [
                "e8d73d4f942ddf47"
            ]
        ]
    },
    {
        "id": "5d58d50e5a739793",
        "type": "states",
        "z": "29c9b4fe04de7dfd",
        "name": "Particlesensor/Particles",
        "endpoint": "65b2874b98c30b71f603a078",
        "state": "65b2874b98c30b71f603a079",
        "x": 170,
        "y": 200,
        "wires": [
            [
                "815d33c4d8107e55",
                "75da214ab0183f90"
            ]
        ]
    },
    {
        "id": "815d33c4d8107e55",
        "type": "debug",
        "z": "29c9b4fe04de7dfd",
        "name": "µg/³m",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 410,
        "y": 280,
        "wires": []
    },
    {
        "id": "fa7f79127379348c",
        "type": "states",
        "z": "29c9b4fe04de7dfd",
        "name": "Flood Sensor/Alarm",
        "endpoint": "659094695ab9b038e51b7436",
        "state": "659094695ab9b038e51b7437",
        "x": 740,
        "y": 560,
        "wires": [
            [
                "fdab6fa20e384060",
                "b7a1839c08f5e91a"
            ]
        ]
    },
    {
        "id": "fdab6fa20e384060",
        "type": "debug",
        "z": "29c9b4fe04de7dfd",
        "name": "Flood",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1210,
        "y": 560,
        "wires": []
    },
    {
        "id": "0579735b8bb974bb",
        "type": "inject",
        "z": "29c9b4fe04de7dfd",
        "name": "Reset",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "10",
        "payloadType": "num",
        "x": 130,
        "y": 560,
        "wires": [
            [
                "09279f5613c83672",
                "b717d3af6cc85b27"
            ]
        ]
    },
    {
        "id": "09279f5613c83672",
        "type": "function",
        "z": "29c9b4fe04de7dfd",
        "name": "msg.payload=false",
        "func": "msg.payload = false;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 560,
        "wires": [
            [
                "fa7f79127379348c"
            ]
        ]
    },
    {
        "id": "74535be169207771",
        "type": "link out",
        "z": "29c9b4fe04de7dfd",
        "name": "trigger alert",
        "mode": "link",
        "links": [
            "e5a7d5ca8d8faace"
        ],
        "x": 1175,
        "y": 680,
        "wires": []
    },
    {
        "id": "b7a1839c08f5e91a",
        "type": "switch",
        "z": "29c9b4fe04de7dfd",
        "name": "if(value===true)",
        "property": "payload.value",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 1000,
        "y": 620,
        "wires": [
            [
                "74535be169207771",
                "9663bffc4403ea84"
            ]
        ]
    },
    {
        "id": "9663bffc4403ea84",
        "type": "debug",
        "z": "29c9b4fe04de7dfd",
        "name": "trigger alarm",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1230,
        "y": 620,
        "wires": []
    },
    {
        "id": "e5a7d5ca8d8faace",
        "type": "link in",
        "z": "29c9b4fe04de7dfd",
        "name": "link in 1",
        "links": [
            "74535be169207771"
        ],
        "x": 55,
        "y": 900,
        "wires": [
            [
                "78beae364ea53687"
            ]
        ]
    },
    {
        "id": "2f7bc5edaeb26136",
        "type": "command",
        "z": "29c9b4fe04de7dfd",
        "name": "",
        "endpoint": "6590585ced87038064218f61",
        "command": "6590585ced87038064218f64",
        "ignoreParams": false,
        "x": 700,
        "y": 900,
        "wires": [
            [
                "474e7e4a923537eb"
            ]
        ]
    },
    {
        "id": "5e06b1aab6da4f2c",
        "type": "template",
        "z": "29c9b4fe04de7dfd",
        "name": "Params = Color Red",
        "field": "payload",
        "fieldType": "msg",
        "format": "json",
        "syntax": "mustache",
        "template": "[{\n    \"key\": \"r\",\n    \"value\": 100\n}, {\n    \"key\": \"g\",\n    \"value\": 0\n}, {\n    \"key\": \"b\",\n    \"value\": 0\n}]",
        "output": "json",
        "x": 480,
        "y": 900,
        "wires": [
            [
                "2f7bc5edaeb26136"
            ]
        ]
    },
    {
        "id": "474e7e4a923537eb",
        "type": "delay",
        "z": "29c9b4fe04de7dfd",
        "name": "",
        "pauseType": "delay",
        "timeout": "1000",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 900,
        "y": 900,
        "wires": [
            [
                "8d14ed0564bf89d3"
            ]
        ]
    },
    {
        "id": "8d14ed0564bf89d3",
        "type": "command",
        "z": "29c9b4fe04de7dfd",
        "name": "",
        "endpoint": "6590585ced87038064218f61",
        "command": "6590585ced87038064218f63",
        "ignoreParams": true,
        "x": 1100,
        "y": 900,
        "wires": [
            [
                "15b70a54dbfd9044"
            ]
        ]
    },
    {
        "id": "15b70a54dbfd9044",
        "type": "delay",
        "z": "29c9b4fe04de7dfd",
        "name": "",
        "pauseType": "delay",
        "timeout": "1000",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 780,
        "y": 980,
        "wires": [
            [
                "d6c1d3761b909b9c"
            ]
        ]
    },
    {
        "id": "d6c1d3761b909b9c",
        "type": "function",
        "z": "29c9b4fe04de7dfd",
        "name": "while(!loopStopped)",
        "func": "// Prüfe, ob die Schleife gestoppt wurde\nlet stopped = flow.get(\"loopStopped\") || false;\n\nif (stopped) {\n    node.warn(\"Loop wurde gestoppt.\");\n    return null; // Beendet den Loop\n}\n\n// Hier deine Loop-Aktion\nnode.warn(\"Loop läuft...\");\n\n// Nachricht wird weitergeleitet, um wieder getriggert zu werden\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1060,
        "y": 980,
        "wires": [
            [
                "17ccf0a702969762"
            ]
        ]
    },
    {
        "id": "b717d3af6cc85b27",
        "type": "function",
        "z": "29c9b4fe04de7dfd",
        "name": "loopStopped=true",
        "func": "flow.set(\"loopStopped\", true);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "78beae364ea53687",
        "type": "function",
        "z": "29c9b4fe04de7dfd",
        "name": "loopStopped=false",
        "func": "flow.set(\"loopStopped\", false);\nflow.set(\"alert\", 1);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 210,
        "y": 900,
        "wires": [
            [
                "5e06b1aab6da4f2c"
            ]
        ]
    },
    {
        "id": "95a3b8fdccea0013",
        "type": "comment",
        "z": "29c9b4fe04de7dfd",
        "name": "Alert Animation/Loop",
        "info": "",
        "x": 130,
        "y": 840,
        "wires": []
    },
    {
        "id": "91594c5c72af13db",
        "type": "comment",
        "z": "29c9b4fe04de7dfd",
        "name": "Sensor Reset/Trigger",
        "info": "",
        "x": 140,
        "y": 500,
        "wires": []
    },
    {
        "id": "048c44222478852d",
        "type": "inject",
        "z": "29c9b4fe04de7dfd",
        "name": "Trigger",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 680,
        "wires": [
            [
                "1294d2013b50b050"
            ]
        ]
    },
    {
        "id": "1294d2013b50b050",
        "type": "function",
        "z": "29c9b4fe04de7dfd",
        "name": "msg.payload=true",
        "func": "msg.payload = true;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 430,
        "y": 680,
        "wires": [
            [
                "fa7f79127379348c"
            ]
        ]
    },
    {
        "id": "1b5879a11cb6f4d6",
        "type": "link out",
        "z": "29c9b4fe04de7dfd",
        "name": "Bad AIR",
        "mode": "link",
        "links": [
            "abc656c704fdad67"
        ],
        "x": 1005,
        "y": 200,
        "wires": []
    },
    {
        "id": "75da214ab0183f90",
        "type": "switch",
        "z": "29c9b4fe04de7dfd",
        "name": "if(value >= 30)",
        "property": "payload.value",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lte",
                "v": "30",
                "vt": "str"
            },
            {
                "t": "gte",
                "v": "31",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 720,
        "y": 200,
        "wires": [
            [
                "552afaefb98c132f"
            ],
            [
                "1b5879a11cb6f4d6"
            ]
        ]
    },
    {
        "id": "abc656c704fdad67",
        "type": "link in",
        "z": "29c9b4fe04de7dfd",
        "name": "link in 2",
        "links": [
            "1b5879a11cb6f4d6"
        ],
        "x": 55,
        "y": 980,
        "wires": [
            [
                "8d6705263a36d0bf"
            ]
        ]
    },
    {
        "id": "8d6705263a36d0bf",
        "type": "function",
        "z": "29c9b4fe04de7dfd",
        "name": "loopStopped=false",
        "func": "flow.set(\"loopStopped\", false);\nflow.set(\"alert\", 2);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 210,
        "y": 980,
        "wires": [
            [
                "b37645fe5b0a84a5"
            ]
        ]
    },
    {
        "id": "b37645fe5b0a84a5",
        "type": "template",
        "z": "29c9b4fe04de7dfd",
        "name": "Params = Color Red",
        "field": "payload",
        "fieldType": "msg",
        "format": "json",
        "syntax": "mustache",
        "template": "[{\n    \"key\": \"r\",\n    \"value\": 100\n}, {\n    \"key\": \"g\",\n    \"value\": 100\n}, {\n    \"key\": \"b\",\n    \"value\": 0\n}]",
        "output": "json",
        "x": 480,
        "y": 980,
        "wires": [
            [
                "2f7bc5edaeb26136"
            ]
        ]
    },
    {
        "id": "17ccf0a702969762",
        "type": "switch",
        "z": "29c9b4fe04de7dfd",
        "name": "",
        "property": "alert",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "2",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": true,
        "outputs": 2,
        "x": 170,
        "y": 1060,
        "wires": [
            [
                "5e06b1aab6da4f2c"
            ],
            [
                "b37645fe5b0a84a5"
            ]
        ]
    },
    {
        "id": "552afaefb98c132f",
        "type": "link out",
        "z": "29c9b4fe04de7dfd",
        "name": "Reset",
        "mode": "link",
        "links": [
            "86f1fedac42c40fc"
        ],
        "x": 1005,
        "y": 120,
        "wires": []
    },
    {
        "id": "86f1fedac42c40fc",
        "type": "link in",
        "z": "29c9b4fe04de7dfd",
        "name": "reset",
        "links": [
            "552afaefb98c132f"
        ],
        "x": 75,
        "y": 600,
        "wires": [
            [
                "b717d3af6cc85b27"
            ]
        ]
    },
    {
        "id": "299b7915932048ad",
        "type": "inject",
        "z": "29c9b4fe04de7dfd",
        "name": "Set state value = 100",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "100",
        "payloadType": "num",
        "x": 180,
        "y": 80,
        "wires": [
            [
                "e8d73d4f942ddf47"
            ]
        ]
    },
    {
        "id": "385c1d060d9ca522",
        "type": "inject",
        "z": "29c9b4fe04de7dfd",
        "name": "Reset Alarm",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "100",
        "payloadType": "num",
        "x": 150,
        "y": 120,
        "wires": [
            [
                "552afaefb98c132f"
            ]
        ]
    },
    {
        "id": "56f53074c3f6b924",
        "type": "webhook",
        "z": "fb6d03c2f2669e68",
        "name": "",
        "webhook": "68937e8f14081d1831605816",
        "x": 100,
        "y": 260,
        "wires": [
            [
                "8bf8d87bbb175bcf",
                "4a801951057183e0"
            ]
        ]
    },
    {
        "id": "8bf8d87bbb175bcf",
        "type": "debug",
        "z": "fb6d03c2f2669e68",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1200,
        "y": 260,
        "wires": []
    },
    {
        "id": "a4f4806c2c679c1c",
        "type": "command",
        "z": "fb6d03c2f2669e68",
        "name": "",
        "endpoint": "6590585ced87038064218f61",
        "command": "6590585ced87038064218f64",
        "x": 680,
        "y": 220,
        "wires": [
            [
                "314c7bb88a28fdff",
                "949198bdb168cbe3"
            ]
        ]
    },
    {
        "id": "4a801951057183e0",
        "type": "template",
        "z": "fb6d03c2f2669e68",
        "name": "Params = Color Green",
        "field": "payload",
        "fieldType": "msg",
        "format": "json",
        "syntax": "mustache",
        "template": "[{\n    \"key\": \"r\",\n    \"value\": 0\n}, {\n    \"key\": \"g\",\n    \"value\": 100\n}, {\n    \"key\": \"b\",\n    \"value\": 0\n}]",
        "output": "json",
        "x": 460,
        "y": 220,
        "wires": [
            [
                "a4f4806c2c679c1c"
            ]
        ]
    },
    {
        "id": "e1e8e41e2ff6ea19",
        "type": "command",
        "z": "fb6d03c2f2669e68",
        "name": "",
        "endpoint": "6590585ced87038064218f61",
        "command": "6590585ced87038064218f64",
        "x": 680,
        "y": 460,
        "wires": [
            [
                "e5c0be3bbf416049",
                "949198bdb168cbe3"
            ]
        ]
    },
    {
        "id": "fa953e2a44551730",
        "type": "template",
        "z": "fb6d03c2f2669e68",
        "name": "Params = Color Blue",
        "field": "payload",
        "fieldType": "msg",
        "format": "json",
        "syntax": "mustache",
        "template": "[{\n    \"key\": \"r\",\n    \"value\": 0\n}, {\n    \"key\": \"g\",\n    \"value\": 0\n}, {\n    \"key\": \"b\",\n    \"value\": 100\n}]",
        "output": "json",
        "x": 460,
        "y": 300,
        "wires": [
            [
                "2c92e2ca6e32948a"
            ]
        ]
    },
    {
        "id": "c8e177b1e7c3c630",
        "type": "template",
        "z": "fb6d03c2f2669e68",
        "name": "Params = Color Red",
        "field": "payload",
        "fieldType": "msg",
        "format": "json",
        "syntax": "mustache",
        "template": "[{\n    \"key\": \"r\",\n    \"value\": 100\n}, {\n    \"key\": \"g\",\n    \"value\": 0\n}, {\n    \"key\": \"b\",\n    \"value\": 0\n}]",
        "output": "json",
        "x": 460,
        "y": 380,
        "wires": [
            [
                "0e54900c7a6bf486"
            ]
        ]
    },
    {
        "id": "ea94286bc36e8e96",
        "type": "template",
        "z": "fb6d03c2f2669e68",
        "name": "Params = Color Orange",
        "field": "payload",
        "fieldType": "msg",
        "format": "json",
        "syntax": "mustache",
        "template": "[{\n    \"key\": \"r\",\n    \"value\": 100\n}, {\n    \"key\": \"g\",\n    \"value\": 100\n}, {\n    \"key\": \"b\",\n    \"value\": 0\n}]",
        "output": "json",
        "x": 470,
        "y": 460,
        "wires": [
            [
                "e1e8e41e2ff6ea19"
            ]
        ]
    },
    {
        "id": "314c7bb88a28fdff",
        "type": "delay",
        "z": "fb6d03c2f2669e68",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 880,
        "y": 220,
        "wires": [
            [
                "fa953e2a44551730"
            ]
        ]
    },
    {
        "id": "de322e8563a849b0",
        "type": "delay",
        "z": "fb6d03c2f2669e68",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 880,
        "y": 300,
        "wires": [
            [
                "c8e177b1e7c3c630"
            ]
        ]
    },
    {
        "id": "e77372de9f4d0d49",
        "type": "delay",
        "z": "fb6d03c2f2669e68",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 880,
        "y": 380,
        "wires": [
            [
                "ea94286bc36e8e96"
            ]
        ]
    },
    {
        "id": "2c92e2ca6e32948a",
        "type": "command",
        "z": "fb6d03c2f2669e68",
        "name": "",
        "endpoint": "6590585ced87038064218f61",
        "command": "6590585ced87038064218f64",
        "x": 680,
        "y": 300,
        "wires": [
            [
                "de322e8563a849b0",
                "949198bdb168cbe3"
            ]
        ]
    },
    {
        "id": "0e54900c7a6bf486",
        "type": "command",
        "z": "fb6d03c2f2669e68",
        "name": "",
        "endpoint": "6590585ced87038064218f61",
        "command": "6590585ced87038064218f64",
        "x": 680,
        "y": 380,
        "wires": [
            [
                "e77372de9f4d0d49",
                "949198bdb168cbe3"
            ]
        ]
    },
    {
        "id": "e5c0be3bbf416049",
        "type": "delay",
        "z": "fb6d03c2f2669e68",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 880,
        "y": 460,
        "wires": [
            [
                "cc3da54de3cdbf8d"
            ]
        ]
    },
    {
        "id": "cc3da54de3cdbf8d",
        "type": "command",
        "z": "fb6d03c2f2669e68",
        "name": "",
        "endpoint": "6590585ced87038064218f61",
        "command": "6590585ced87038064218f63",
        "ignoreParams": true,
        "x": 680,
        "y": 540,
        "wires": [
            [
                "949198bdb168cbe3"
            ]
        ]
    },
    {
        "id": "949198bdb168cbe3",
        "type": "debug",
        "z": "fb6d03c2f2669e68",
        "name": "Command result",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1220,
        "y": 220,
        "wires": []
    },
    {
        "id": "222fb941682b3d3e",
        "type": "inject",
        "z": "fb6d03c2f2669e68",
        "name": "Trigger",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 90,
        "y": 320,
        "wires": [
            [
                "4a801951057183e0"
            ]
        ]
    },
    {
        "id": "432ef20da0986522",
        "type": "webhook",
        "z": "fb6d03c2f2669e68",
        "name": "",
        "webhook": null,
        "x": 100,
        "y": 60,
        "wires": [
            [
                "37c3738e1a6048fe"
            ]
        ]
    },
    {
        "id": "37c3738e1a6048fe",
        "type": "debug",
        "z": "fb6d03c2f2669e68",
        "name": "Simple",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1190,
        "y": 60,
        "wires": []
    },
    {
        "id": "d1c5124945c94691",
        "type": "scene",
        "z": "4dd81f0e47c2dcba",
        "name": "Scene = Abends: Ein",
        "scene": "65905ff3ee556e336fe280e0",
        "x": 660,
        "y": 160,
        "wires": [
            [
                "303b371d1451735a"
            ],
            [
                "d90a5a0119fed315"
            ]
        ],
        "outputLabels": [
            "states",
            "triggerd"
        ]
    },
    {
        "id": "11f298ef212ec2be",
        "type": "inject",
        "z": "4dd81f0e47c2dcba",
        "name": "Trigger",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 90,
        "y": 100,
        "wires": [
            [
                "d1c5124945c94691"
            ]
        ]
    },
    {
        "id": "303b371d1451735a",
        "type": "debug",
        "z": "4dd81f0e47c2dcba",
        "name": "State changes",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1240,
        "y": 100,
        "wires": []
    },
    {
        "id": "d90a5a0119fed315",
        "type": "debug",
        "z": "4dd81f0e47c2dcba",
        "name": "Triggered",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1220,
        "y": 220,
        "wires": []
    },
    {
        "id": "0e75fc5fb1d79874",
        "type": "webhook",
        "z": "4dd81f0e47c2dcba",
        "name": "",
        "webhook": "689480155eaf6add7202c2be",
        "x": 80,
        "y": 220,
        "wires": [
            [
                "d1c5124945c94691"
            ]
        ]
    },
    {
        "id": "f707c21149350693",
        "type": "scene",
        "z": "4dd81f0e47c2dcba",
        "name": "Gruppenfarbe",
        "scene": "689483fbcdcbf3d3b3a78ffc",
        "x": 120,
        "y": 500,
        "wires": [
            [],
            [
                "5991698f064e823b",
                "03d588478d0b4b11"
            ]
        ]
    },
    {
        "id": "b0010bb8446453ac",
        "type": "command",
        "z": "4dd81f0e47c2dcba",
        "name": "cmd = color",
        "endpoint": "6590585ced87038064218f61",
        "command": "6590585ced87038064218f64",
        "ignoreParams": false,
        "x": 910,
        "y": 500,
        "wires": [
            [
                "4ec179fb27f51214"
            ]
        ]
    },
    {
        "id": "03d588478d0b4b11",
        "type": "function",
        "z": "4dd81f0e47c2dcba",
        "name": "extract input params",
        "func": "msg.payload = msg.payload.inputs.map(({key, value}) => {\n    return {\n        key,\n        value\n    };\n});\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 520,
        "y": 500,
        "wires": [
            [
                "b0010bb8446453ac",
                "2691dcf81d4bacfe"
            ]
        ]
    },
    {
        "id": "4ec179fb27f51214",
        "type": "debug",
        "z": "4dd81f0e47c2dcba",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1220,
        "y": 500,
        "wires": []
    },
    {
        "id": "2691dcf81d4bacfe",
        "type": "debug",
        "z": "4dd81f0e47c2dcba",
        "name": "Color array",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 910,
        "y": 620,
        "wires": []
    },
    {
        "id": "5991698f064e823b",
        "type": "debug",
        "z": "4dd81f0e47c2dcba",
        "name": "debug 6",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 400,
        "y": 620,
        "wires": []
    },
    {
        "id": "3a144554d2661e49",
        "type": "comment",
        "z": "4dd81f0e47c2dcba",
        "name": "Sets colors on scene trigger",
        "info": "",
        "x": 160,
        "y": 440,
        "wires": []
    },
    {
        "id": "c4412497bdab3c44",
        "type": "debug",
        "z": "4dd81f0e47c2dcba",
        "name": "debug 8",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 400,
        "y": 800,
        "wires": []
    },
    {
        "id": "9d7e8684dfdc9106",
        "type": "states",
        "z": "4dd81f0e47c2dcba",
        "name": "",
        "endpoint": "659094695ab9b038e51b7436",
        "state": "659094695ab9b038e51b7437",
        "x": 170,
        "y": 800,
        "wires": [
            [
                "c4412497bdab3c44"
            ]
        ]
    },
    {
        "id": "b5188dccd9882cb2",
        "type": "notification",
        "z": "a62b0db2beaaed0b",
        "name": "",
        "x": 610,
        "y": 220,
        "wires": [
            [
                "c80a9b51ad7d8c4b"
            ]
        ]
    },
    {
        "id": "c80a9b51ad7d8c4b",
        "type": "debug",
        "z": "a62b0db2beaaed0b",
        "name": "Published Events",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 850,
        "y": 220,
        "wires": []
    },
    {
        "id": "8a235e88d17575c9",
        "type": "inject",
        "z": "a62b0db2beaaed0b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 220,
        "wires": [
            [
                "e31e1e90ab98908e"
            ]
        ]
    },
    {
        "id": "e31e1e90ab98908e",
        "type": "template",
        "z": "a62b0db2beaaed0b",
        "name": "Notification",
        "field": "payload",
        "fieldType": "msg",
        "format": "json",
        "syntax": "mustache",
        "template": "{\n    \"title\": \"Test - Notification\",\n    \"message\": \"Hello World - {{payload}}\",\n    \"type\": \"warn\"\n}",
        "output": "json",
        "x": 390,
        "y": 220,
        "wires": [
            [
                "b5188dccd9882cb2"
            ]
        ]
    },
    {
        "id": "220b2785b04d1b81",
        "type": "notification",
        "z": "a62b0db2beaaed0b",
        "name": "",
        "x": 610,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "6895dd25eb8bcc20",
        "type": "inject",
        "z": "a62b0db2beaaed0b",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 160,
        "y": 120,
        "wires": [
            [
                "bb11bb1d1e77db2c"
            ]
        ]
    },
    {
        "id": "bb11bb1d1e77db2c",
        "type": "template",
        "z": "a62b0db2beaaed0b",
        "name": "Notification",
        "field": "payload",
        "fieldType": "msg",
        "format": "json",
        "syntax": "mustache",
        "template": "{\n    \"title\": \"Information!\",\n    \"message\": \"Static Message\",\n    \"type\": \"info\"\n}",
        "output": "json",
        "x": 390,
        "y": 120,
        "wires": [
            [
                "220b2785b04d1b81"
            ]
        ]
    }
]